.keyButton {
    width: 100%;
    height: 100%;

    &.keyButtonPrimaryColor {
        background-color: #00A991;
    }

    &.keyButtonSecondaryColor {
        background-color: #ECF8F7;
    }

    &.keyButtonCriticalColor {
        background-color: #D21C1C;
    }
}

